:root{
    /* Color scheme is , , 9A9DDB, ,  */
    --primary-color: #F27E05;
    --secondary-color: #D96A38;
    --accent1-color: #592818;
    --accent2-color: #F08C02;
    --body-font: "Lato", sans-serif;
    --heading-font: "Oswald", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-color: var(--primary-color);
    padding: 1em;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}


nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 10px gray;
}

p, section, article {
    margin: 25px;
    padding: 10px;
}

.history section{
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%
}


.history-title, .first-history-paragraph, .history-second-paragraph{
    grid-row: 1;
}

.history-title img{
    max-width: 100%;
    margin: 10px;
}

.first-history-paragraph{
    grid-column: 1/2;
}

.history-second-paragraph{
    grid-column-start: 3;
}

.adventure-section{
    display:grid;
    background-color: var(--secondary-color);
    text-align: center;
}

.adventure-section h2{
    grid-column: 1 / -1;
}

.adventure-images{
    display:grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    box-sizing: border-box;
}
.adventure-images img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 400px; /* Adjust based on your hero image height */
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 95%;
    color: var(--accent1-color);
    z-index: 1;
}

.hero article {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 90%;
    background: var(--primary-color); 
    padding: 10px;
    z-index: 1;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1{
    position: absolute;
    top:10px;
    width:100%;
    padding:20px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color:white;
}

article{
    position: absolute;
    text-align: justify;
    bottom:20%;
    padding: 1px;
    opacity: 0.9;
    background-color: var(--accent2-color);
    color: black;
}

.hero article img{
    float:right;
    width: 125px;
    background-color: var(--primary-color);
    opacity: 0.8;
    text-align: right;
    margin: 40px;
}

footer{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer-text{
    text-align: center;
    flex-grow: 1;
}

footer nav{
    display: flex;
    gap: 10px;
}

footer nav a img{
    width: 50px;
    height: 50px;
}

.socialmedia a{
    text-decoration: none;
}

.contact-us-page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}

.contact-us-page h2{
    background-color: var(--secondary-color);
    width: 100%;
    text-align: center;
    border: none;
    font-size: 2em;
}

fieldset{
    background-color: var(--secondary-color);
    border: none;
}

legend{
    border-radius: 1em;
    border: 0.25em solid var(--accent2-color);
    padding: 10px;
    background-color: var(--primary-color)
}

.radio-title{
    border: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}

input, textarea{
    padding: 0.5em;
    border-radius: 1em;
    margin: 5%;
}

form{
    display: grid;
}

.radio-options{
    display: grid;
    padding: 1.1em;
    margin: 1em;
}

.radio-options input{
    grid-column: 1;
}

.radio-options label{
    grid-column: 2;
}

.newsletter{
    display: grid;
    margin: 1.5em;
}

.newsletter label{
    grid-column: 1;
    text-align: center;
}

.newsletter input{
    grid-column: 2;
    text-align: center;
}

.employees{
    display:grid;
    grid-row-start: 2;
    grid-column: 1/ -1;
    background-color: var(--secondary-color);
}

.employees img{
    grid-row: 1;
    padding: 10px;
    border-radius: 100%;
    max-width: 100%;
    max-height: 200px;
    justify-self: center;
    align-self: center;
}

.employees h2{
    grid-row: 2;
}

.form h2{
    grid-column: 1/ -1;
    grid-row: 1;
    width: 100%;
    text-align: center;
}

.index-info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.index-info img{
    grid-row: 1;
    max-width: 100%;
}

.training{
    display:grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-column: 3;
    background-color: var(--accent2-color);
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
    border: 0.5em solid var(--accent1-color);
}

.training img{
    grid-row: 2;
    margin: 1%;
    border-radius: 1em;
}

.training h3{
    width: 100%;
    height: 100%;
    justify-self: center;
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;
    padding: 5%;
}

.privacy{
    display:grid;
    background-color: var(--accent2-color);
    border-radius: 1em;
    border: 0.5em solid var(--accent1-color);
    padding: 10px;
    margin: 10px;
    grid-template-rows: 1fr 1fr;
}

.privacy h3{
    padding: 10px;
    font-size: 2em;
    justify-self: center;
    text-align: center;
}

.privacy img{
    border-radius: 2em;
    padding: 10px;
}

.youth-discount{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    padding: 10px;
    margin: 10px;
    background-color: var(--accent2-color);
    border-radius: 1em;
    border: 0.5em solid var(--accent1-color);
}

.youth-discount img{
    border-radius: 1em;
    padding: 10px;
}

.youth-discount h3{
    padding: 10px;
    font-size: 2.5em;
    justify-self: center;
    text-align: center;
}

.index-info h2{
    grid-row: 2;
}

.ui-stuff{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
}

.index-form{
    grid-column: 2 / 4;
    margin: 1em;
}

.index-form fieldset{
    display:grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 1em;
    margin: 5%;
}

.index-form fieldset label{
    grid-column: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.5em;
}

.call-to-action{
    background-color: var(--secondary-color);
    border-radius: 1em;
    display:grid;
    grid-template-rows: 1fr 0.5fr 1fr;
}

.call-to-action h3{
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: var(--accent2-color);
    border-radius: 1em;
    padding: 10px;
    margin: 0.5em;
    font-size: 2em;
}

.call-to-action h4{
    font-size: 1.5em;
    margin: 10px;
    justify-self: left;
    align-self: center;
    text-align: center;
}


.call-to-action a{
    background-color: blue;
    text-decoration: none;
    color: white;
    border-radius: 1.5em;
    padding: 5%;
    border: 0.25em solid rgb(80, 80, 255);
    cursor: pointer;
    margin: 2em;
    width: 8em;
    height: 3.5em;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.suggested-trips{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.33fr 0.33fr 1fr;
    margin: 2rem;
    grid-gap: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 2rem;
}

.suggested-trips img{
    grid-row: 3;
    max-width: 100%;
    border-radius: 1rem;
    padding: 10px;
}

.suggested-trips h3{
    grid-row: 2;
    background-color: var(--accent2-color);
    border-radius: 1rem;
    text-align: center;
    align-self: center;
    font-size: 2rem;
}

.suggested-trips h2{
    grid-column: 1/-1;
    text-align: center;
    padding: 10px;
}

.suggested-trips p{
    color:var(--accent1-color);
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-size: large;
    margin: 0;
}

.cta{
    display: grid;
    grid-gap: 1rem;
    background-color: #d96b389d;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    margin: 1rem 0rem;
    border-radius: 1rem;
    padding: 20px;
}

.cta a{
    background-color: blue;
    border-radius: 3rem;
    border: 0.25em solid rgb(80, 80, 255);
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 10rem;
    height: 2rem;
}

.cta p{
    margin: 10px;
    padding: 5px;
}

table{
    width: 100%;
    margin: 1rem;
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-collapse: collapse;
}

th, tr, td{
    border: 1px solid var(--accent1-color);
    padding: 10px;
}

td{
    background-color: rgba(203, 217, 255, 0.514);
}


th{
    background-color: rgb(203, 217, 255);
}

.map{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    background-color: var(--secondary-color);
}

iframe{
    background-color: var(--secondary-color);
    padding: 2em;
}
