:root{
    /* Color scheme is , , 9A9DDB, ,  */
    --primary-color: 4D4A80;
    --secondary-color: 5D61A6;
    --accent1-color: B9BCF9;
    --accent2-color: D4D6FA;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight:200
}